#geral{
    margin: 20px auto;
    padding: 20px;
    background-color:azure;
    width: 500px;
    min-height: 450px;
    
}
.titulo{ text-align:center ;
color: brown;
font-size: 30px;
}


form{
    background-color: aliceblue;
    padding: 20px;
    margin: 20px 0px;
    width: 400px;
    border-radius: 8px;
}

label, input{
    display: block;
    margin: 10px 0px;
}

label{
    text-transform: uppercase;
    font-weight: bold;
}

#resultado{
    width: 400px;
    height: 250px;
    background-color:bisque;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1,2cm;
    border-radius: 8px;
}