/* (A FOLHA DO BOLETIM) */
body {
    background-color: #1473d3; /* Fundo cinza */
    font-family: Arial, sans-serif;
}
#geral {
    margin: 40px auto; 
    padding: 30px;
    background-color: #82d6f0; /* Cor de fundo do quadrado */
    width: 450px;
    min-height: 450px;
    /* Borda dupla */
    border: 5px double #1f3b4d; 
}
/* CABEÇALHO */
.titulo { 
    text-align: center;
    color: #eb2012; /* Azul marinho */
    font-size: 28px; /* Tamanho da fonte */
    font-family: 'Times New Roman', Times, serif; /* Fonte */
    text-transform: uppercase; /* Letras Maisculas */
    
}
.subtitulo {
    text-align: center; /* Centraliza o texto horizontalmente na tela. */
    color: #8f1010;
    font-size: 16px;
    font-weight: normal; /* Deixa a letra com a espessura padrão */
    border-bottom: 2px solid #1f3b4d; /* Linha separadora do cabeçalho */
    padding-bottom: 15px; /* Afasta o texto da linha */
    margin-bottom: 25px; /* Cria um espaço de 25px abaixo de tudo */ 
}
form {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
label {
    display: block;
    margin-top: 15px; /* Cria um espaço acima do texto para ele não ficar colado no campo anterior.*/
    font-size: 13px; /* Tamanho da fonte */
    color: #333;
    font-weight: bold; /* Deixa o texto em negrito.*/
}
#resultado { /* Tela de Resultados */
    margin-top: 30px; /* Empurra a caixa para baixo, deixando um espaço de 30px entre ela e o formulário.*/
    width: 100%; /*Faz a caixa ocupar toda a largura disponível.*/
    min-height: 120px;
    background-color: #f4f6f8; /* Define a cor de fundo */
    padding: 20px; /* Cria um espaço interno de 20px para o texto não ficar colado nas bordas da caixa. */
    border: 4px dashed #7a8b99; /* Cria uma borda grossa (4px), tracejada (dashed) */
    box-sizing: border-box; /* Trava o tamanho da caixa. Ela impede que o padding e a border aumentem o tamanho total dela, evitando que ela "estoure" o layout.*/
    display: flex; /* permite alinhar o conteúdo interno facilmente.*/
    align-items: center; /* Centraliza o texto verticalmente em pé dentro da caixa. */
    justify-content: center; /* Centraliza o texto horizontalmente (deitado) dentro da caixa. */
    text-align: center; /* Garante que, se o texto tiver mais de uma linha, todas as linhas fiquem centralizadas.*/
}
